.row{
    text-align: center;
}
.row div{
    height: 30px;
    display: inline-block;
    font-weight: bold;
    margin: 20px 30px 0px 30px ;

}
.row div button{
    height: 30px;
    border: 1px sold grey;
    color: black;
    display: inline-block;
    margin: 5px;

}
.row div button:hover{
    background-color: yellowgreen;
    height: 30px;
    display: inline-block;
}
.selected {
    background-color: yellow;
    color: white;
    height: 30px;
    display: inline-block;
}

#stat{
    display: inline-block;
}

#stat div{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.title{
    padding: 10px;
    background-color:pink;
    border-radius: 10px;
}